/* 
    Author: Michael vaughn Jireh Bendal
*/

*{
    font-family: Arial, Helvetica, sans-serif; 
}

.header {
    background-color: deepskyblue;
    /*Remove border after*/
    /* border: 5px solid black; */
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title-profile {
    display: inline;
    width: 50%;
    border: 1px solid black;
}

/*LOGO*/
#logo {
    color: whitesmoke;
    font-size: 75px;
    float: left;
    /* border: 2px solid black; */
}

.clearfix {
    clear: both;
}
/*for texts in menu and logo*/
a:visited {
    text-decoration: none;
    color: rgb(252, 252, 252);
}

a:active {
    text-decoration: underline;
}

a:link {
    text-decoration: none;
    color: azure;
}

/*menu class*/

.menu {
    font-size: 25px;
    /* border: 5px solid black;
    border-width: 50%; */
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
    /* border-color: black; */
    border: 2px;
}

.menu {
    text-align: center;
}

.menu ul li a:hover {
    color: #8DE3C7;
    text-decoration: underline;
}

/*Search Bar*/
.search {
    float: right;
}

/* Profile Picture */
#profile-picture {
    border-radius: 50%;
    width: 100px;
    float: right;
    line-height: 10px;
    border: 1px solid black;
    display: inline;
    line-height: 50%;
}

